{% extends 'music/base.html' %}
{% block title %}Album details{% endblock %}
{% block body %}
<img src="{{ albums.album_logo }}" style="width: 250px;">
<h1>{{ albums.album_title  }}</h1>
<h2>{{ albums.artist }}</h2>

{% if error_message %}
    <p><strong>{{ error_massage }}</strong></p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {% for song in albums.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png">
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>
{% endblock %}