{% extends 'music/base.html' %}
{% block body %}
{% if all_albums %}
    <ul>
        {% for album in all_albums %}
        <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>khong co gi cung a</h3>
{% endif %}
{% endblock %}